.sapUiIcon{
    font-family: SAP-icons; 
    font-size: 2rem;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    
}


.componentslist > div {
    background-color: rgb(230, 243, 255);
  }

.componentslist {
    margin-left: 10px;
    display: grid;
    height: 80vh;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    gap: 20px 10px;
  }

  .showarea{
    width: 70vw;
    margin-right: 10px;
  }
