.navBar{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.712);
}

.componentslist > div {
    background-color: rgb(230, 243, 255);
  }

.componentslist {
    margin-left: 10px;
    display: grid;
    height: 80vh;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    gap: 20px 10px;
  }

  .showarea{
    width: 70vw;
    margin-right: 10px;
  }

  /* SAP Icons */
.icon-home{
  margin: 10px;
  font-family: "SAP-icons";
  font-size: 2rem;
}

.file span::before{
  margin: 5px;
  content: "\e1c9";
}
